<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetDataSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://perfion-api.local/Perfion/GetData.asmx"
                binding="basicHttpBinding" bindingConfiguration="GetDataSoap"
                contract="PerfionAPIService.GetDataSoap" name="GetDataSoap" />
        </client>
    </system.serviceModel>
</configuration>