<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="IntegrationDb" connectionString="Server=tcp:yhadrs878y.database.windows.net,1433;Database=IntegrationDb;User ID=bhk-admin@yhadrs878y;Password=qE90XlBV5y;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <!--<add name="IntegrationDb" connectionString="Server=tcp:yhadrs878y.database.windows.net,1433;Database=IntegrationDb;User ID=IntegrationSvc@yhadrs878y;Password=05xrH3LWXK;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <add name="Portal_TraceDb" connectionString="TBD" />
    <add name="CustomDb" connectionString="Server=tcp:yhadrs878y.database.windows.net,1433;Database=Integration_CustomDb;User ID=IntegrationSvc@yhadrs878y;Password=05xrH3LWXK;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="AzureBlobStorage.Kibana" connectionString="DefaultEndpointsProtocol=https;AccountName=verticalogs;AccountKey=Eqdpfno2ORsjAP9TUlOtXHyxcayA2l3E7MIwSgiRTzUGBvX1lM+Tl+BpLMqvJ0EEEUEW0MWKxFBOKcTmpPgfaQ==" />
    <add name="AzureBlobStorage.Archive" connectionString="DefaultEndpointsProtocol=https;AccountName=integrationservice;AccountKey=ikCVA9oxidZoD2xo1shHb47Wg5WJUu4eOQ8tvRtZ4NcI/tKlDThXplb/FEUjqSKnH+AlFEB8x34rfbkHNtKBrQ==" />
    <add name="AzureBlobStorage.FileSystem" connectionString="DefaultEndpointsProtocol=https;AccountName=integrationservice;AccountKey=ikCVA9oxidZoD2xo1shHb47Wg5WJUu4eOQ8tvRtZ4NcI/tKlDThXplb/FEUjqSKnH+AlFEB8x34rfbkHNtKBrQ==" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="[DEV]" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="IntegrationServiceProject@vertica.dk">
        <network host="smtp.mandrillapp.com" userName="IntegrationServiceProject@vertica.dk" password="OPx5wFdF9DiIZcBjrqkrxA" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>