<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <castle configSource="Tasks.config" />
  <connectionStrings>
    <add name="IntegrationDb" connectionString="Server=tcp:yhadrs878y.database.windows.net,1433;Database=IntegrationDb;User ID=IntegrationSvc@yhadrs878y;Password=05xrH3LWXK;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Portal_TraceDb" connectionString="TBD" />
    <add name="CustomDb" connectionString="Server=tcp:yhadrs878y.database.windows.net,1433;Database=Integration_CustomDb;User ID=IntegrationSvc@yhadrs878y;Password=05xrH3LWXK;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="AzureBlobStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=verticalogs;AccountKey=Eqdpfno2ORsjAP9TUlOtXHyxcayA2l3E7MIwSgiRTzUGBvX1lM+Tl+BpLMqvJ0EEEUEW0MWKxFBOKcTmpPgfaQ==" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="bhk@vertica.dk">
        <network host="mail01.vertica.dk" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>