<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="dibsClient" type="Vertica.PaymentService.Clients.Dibs.Configuration.ClientConfigurationSection, Vertica.PaymentService.Clients.Dibs" requirePermission="false" />
		<section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="IntegrationDb" connectionString="Server=tcp:yhadrs878y.database.windows.net,1433;Database=IntegrationDb;User ID=bhk-admin@yhadrs878y;Password=qE90XlBV5y;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="IntegrationDb.Alternate" connectionString="Server=tcp:yhadrs878y.database.windows.net,1433;Database=IntegrationDb;User ID=IntegrationSvc@yhadrs878y;Password=05xrH3LWXK;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <!--<add name="IntegrationDb" connectionString="Integrated Security=SSPI;Data Source=[NAME-OF-SQL-SERVER];Database=[NAME-OF-INTEGRATION-DATABASE]" />-->
    <add name="Logging.ElmahDb" connectionString="Integrated Security=SSPI;Data Source=maersk-sql01.vertica.dk;Database=Maersk_Stargate3_Portal_Diagnostics" />
    <add name="CustomDb" connectionString="Server=tcp:yhadrs878y.database.windows.net,1433;Database=Integration_CustomDb;User ID=IntegrationSvc@yhadrs878y;Password=05xrH3LWXK;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="AzureBlobStorage.Kibana" connectionString="DefaultEndpointsProtocol=https;AccountName=verticalogs;AccountKey=Eqdpfno2ORsjAP9TUlOtXHyxcayA2l3E7MIwSgiRTzUGBvX1lM+Tl+BpLMqvJ0EEEUEW0MWKxFBOKcTmpPgfaQ==" />
    <add name="AzureBlobStorage.Archive" connectionString="DefaultEndpointsProtocol=https;AccountName=integrationservice;AccountKey=ikCVA9oxidZoD2xo1shHb47Wg5WJUu4eOQ8tvRtZ4NcI/tKlDThXplb/FEUjqSKnH+AlFEB8x34rfbkHNtKBrQ==" />
    <add name="AzureBlobStorage.FileSystem" connectionString="DefaultEndpointsProtocol=https;AccountName=integrationservice;AccountKey=ikCVA9oxidZoD2xo1shHb47Wg5WJUu4eOQ8tvRtZ4NcI/tKlDThXplb/FEUjqSKnH+AlFEB8x34rfbkHNtKBrQ==" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Development" />
		<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://integration-service.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=emS/igwM9W/GcGTMSMiLHo0Sd/GKvfFQkwcccCmvN8o=" />
  </appSettings>
  <dibsClient>
    <merchants>
      <!--Vertica Test Account (username: 90196944, password: VER44cait) -->
      <merchant number="90196944" md5Enabled="true" md5Key1="OFjY0FOVGt,rLjd}x+6qO!PW)Ea.ni4V" md5Key2="*-tghzz@$jtfJFRud0UZ--14{NjtzgjM" hmacEnabled="false" hmacKey="35756a77457170234a2a6d3242675535482a706f30422a6c482b23793029482874297e445a453037234821556a38517e39284c67373b393b3051482b52352825" />
    </merchants>
  </dibsClient>
	<rebus inputQueue="InputQueue" errorQueue="ErrorQueue" workers="5">
		<rijndael key="base64 encoded key" />
		<endpoints>
			<add messages="Name.Of.Assembly" endpoint="message_owner_1" />
			<add messages="Namespace.ClassName, Name.Of.Another.Assembly" endpoint="message_owner_2" />
		</endpoints>
	</rebus>
	<system.net>
    <mailSettings>
      <smtp from="IntegrationServiceProject@vertica.dk">
        <network host="smtp.mandrillapp.com" userName="IntegrationServiceProject@vertica.dk" password="OPx5wFdF9DiIZcBjrqkrxA" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>