<?xml version="1.0"?>

<castle>
  <include uri="file://Tasks.Core.config" />
  <include uri="file://Tasks.Elmah.config" />
  <!--<include uri="file://Tasks.Kibana.config" />-->
  <include uri="file://Tasks.Experiments.config" />

  <components>
		<!--TASKS START-->
		<component id="MonitorTask"
		           service="Vertica.Integration.Model.ITask, Vertica.Integration"
		           type="Vertica.Integration.Domain.Monitoring.MonitorTask, Vertica.Integration">
			<parameters>
				<steps>
					<list>
						<item>${ExportIntegrationErrorsStep}</item>
            <!--<item>${ExportElmahErrorsStep}</item>-->
            <!--<item>${ImportErrorsToLogStashStep}</item>-->
					</list>
				</steps>
				<ignoreErrorsWithMessagesContaining>
					<list>
            <item>[TODO]</item>
					</list>
				</ignoreErrorsWithMessagesContaining>
			</parameters>
		</component>

    <component id="MaintenanceTask"
		           service="Vertica.Integration.Model.ITask, Vertica.Integration"
		           type="Vertica.Integration.Domain.Core.MaintenanceTask, Vertica.Integration">
			<parameters>
				<steps>
					<list>
						<item>${CleanUpIntegrationDbStep}</item>
            <item>${CleanUpElmahErrorsStep}</item>
            <item>${CleanUpArchivesStep}</item>
					</list>
				</steps>
			</parameters>
		</component>
    <!--TASKS END-->

		<!--STEPS START-->
    <!--STEPS END-->
	</components>
</castle>