<?xml version="1.0"?>

<castle>
  <include uri="file://Tasks.Kibana.config" />
  <include uri="file://Tasks.Experiments.config" />

  <components>
		<!--TASKS START-->
		<component id="WriteDocumentationTask"
		           service="Vertica.Integration.Model.ITask, Vertica.Integration"
		           type="Vertica.Integration.Domain.Core.WriteDocumentationTask, Vertica.Integration">
			<parameters>
				<fileName>integrations.txt</fileName>
			</parameters>
		</component>

    <component id="MigrateTask"
		           service="Vertica.Integration.Model.ITask, Vertica.Integration"
		           type="Vertica.Integration.Infrastructure.Database.Migrations.MigrateTask, Vertica.Integration" />

		<component id="MonitorTask"
		           service="Vertica.Integration.Model.ITask, Vertica.Integration"
		           type="Vertica.Integration.Domain.Monitoring.MonitorTask, Vertica.Integration">
			<parameters>
				<steps>
					<list>
						<item>${ExportIntegrationErrorsStep}</item>
            <item>${ExportElmahErrorsStep}</item>
            <!--<item>${ImportErrorsToLogStashStep}</item>-->
					</list>
				</steps>
				<ignoreErrorsWithMessagesContaining>
					<list>
            <item>[TODO]</item>
					</list>
				</ignoreErrorsWithMessagesContaining>
			</parameters>
		</component>

    <component id="ImportFilesTask"
		           service="Vertica.Integration.Model.ITask, Vertica.Integration"
		           type="Vertica.Integration.Domain.Core.ImportFilesTask, Vertica.Integration">
			<parameters>
				<steps>
					<list>
					</list>
				</steps>
			</parameters>
		</component>

    <component id="MaintenanceTask"
		           service="Vertica.Integration.Model.ITask, Vertica.Integration"
		           type="Vertica.Integration.Domain.Core.MaintenanceTask, Vertica.Integration">
			<parameters>
				<steps>
					<list>
						<item>${CleanUpIntegrationDbStep}</item>
            <item>${CleanUpElmahErrorsStep}</item>
					</list>
				</steps>
			</parameters>
		</component>
    <!--TASKS END-->

		<!--STEPS START-->
		<component id="ExportIntegrationErrorsStep"
		           service="Vertica.Integration.Model.IStep, Vertica.Integration"
		           type="Vertica.Integration.Domain.Monitoring.ExportIntegrationErrorsStep, Vertica.Integration" />

    <component id="CleanUpIntegrationDbStep"
               service="Vertica.Integration.Model.IStep, Vertica.Integration"
               type="Vertica.Integration.Domain.Core.CleanUpIntegrationDbStep, Vertica.Integration">
			<parameters>
				<tasksOlderThan>15.00:00:00</tasksOlderThan>
				<errorsOlderThan>15.00:00:00</errorsOlderThan>
			</parameters>
		</component>

    <component id="ExportElmahErrorsStep"
		           service="Vertica.Integration.Model.IStep, Vertica.Integration"
		           type="Vertica.Integration.Logging.Elmah.ExportErrorsStep, Vertica.Integration.Logging.Elmah">
      <parameters>
        <connectionStringName>Portal_TraceDb</connectionStringName>
        <sourceName>Website</sourceName>
      </parameters>
    </component>
    
    <component id="CleanUpElmahErrorsStep"
               service="Vertica.Integration.Model.IStep, Vertica.Integration"
               type="Vertica.Integration.Logging.Elmah.CleanUpErrorsStep, Vertica.Integration.Logging.Elmah">
      <parameters>
        <connectionStringName>Portal_TraceDb</connectionStringName>
        <olderThan>60.00:00:00</olderThan>
      </parameters>
    </component>
    <!--STEPS END-->
	</components>
</castle>