<?xml version="1.0"?>

<configuration>
	<components>
		<!--TASKS START-->
    <component id="ExportLogsToLogStashTask"
               service="Vertica.Integration.Model.ITask, Vertica.Integration"
               type="Vertica.Integration.Logging.Kibana.ExportLogsToLogStashTask, Vertica.Integration.Logging.Kibana">
      <parameters>
        <steps>
          <list>
            <item>${ExportIisLogFilesStep}</item>
          </list>
        </steps>
      </parameters>
    </component>

    <component id="LoadLogsFromBlobStorageTask"
               service="Vertica.Integration.Model.ITask, Vertica.Integration"
               type="Vertica.Integration.Logging.Kibana.LoadLogsFromBlobStorageTask, Vertica.Integration.Logging.Kibana" />
    <!--TASKS END-->

		<!--STEPS START-->
    <component id="ImportErrorsToLogStashStep"
		           service="Vertica.Integration.Model.IStep, Vertica.Integration"
		           type="Vertica.Integration.Logging.Kibana.ImportErrorsToLogStashStep, Vertica.Integration.Logging.Kibana" />

    <component id="ExportIisLogFilesStep"
		           service="Vertica.Integration.Model.IStep, Vertica.Integration"
		           type="Vertica.Integration.Logging.Kibana.ExportIisLogFilesStep, Vertica.Integration.Logging.Kibana" />    
    <!--STEPS END-->
	</components>
</configuration>