<?xml version="1.0"?>

<configuration>
	<components>
		<!--TASKS START-->
    <!--TASKS END-->

		<!--STEPS START-->
    <component id="ExportIntegrationErrorsStep"
		           service="Vertica.Integration.Model.IStep, Vertica.Integration"
		           type="Vertica.Integration.Domain.Monitoring.ExportIntegrationErrorsStep, Vertica.Integration" />

    <component id="CleanUpIntegrationDbStep"
               service="Vertica.Integration.Model.IStep, Vertica.Integration"
               type="Vertica.Integration.Domain.Core.CleanUpIntegrationDbStep, Vertica.Integration">
      <parameters>
        <tasksOlderThan>15.00:00:00</tasksOlderThan>
        <errorsOlderThan>15.00:00:00</errorsOlderThan>
      </parameters>
    </component>

    <component id="CleanUpArchivesStep"
               service="Vertica.Integration.Model.IStep, Vertica.Integration"
               type="Vertica.Integration.Infrastructure.Archiving.CleanUpArchivesStep, Vertica.Integration">
      <parameters>
        <olderThan>15.00:00:00</olderThan>
      </parameters>
    </component>
    <!--STEPS END-->
	</components>
</configuration>