<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dibsClient" type="Vertica.PaymentService.Clients.Dibs.Configuration.ClientConfigurationSection, Vertica.PaymentService.Clients.Dibs"
      requirePermission="false"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.2.0" newVersion="1.6.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
<dibsClient>
<paymentForms>
<paymentForm name="PaymentWindow" platform="PaymentWindow">
<settings testMode="true" clientScript="" renderHtmlPage="false"/>
<formAttributes>
<attribute name="name" value="dibs"/>
<attribute name="method" value="post"/>
<attribute name="action" value="https://sat1.dibspayment.com/dibspaymentwindow/entrypoint"/>
</formAttributes>
<hiddenFields>
</hiddenFields>
</paymentForm>
</paymentForms>
<merchants>
<merchant number="9999999" md5Enabled="false" md5Key1="" md5Key2="" hmacEnabled="false" hmacKey=""/>
</merchants>
</dibsClient>
</configuration>
