<?xml version="1.0"?>

<configuration>
	<components>
		<!--TASKS START-->
    <!--TASKS END-->

		<!--STEPS START-->
    <component id="ExportElmahErrorsStep"
		           service="Vertica.Integration.Model.IStep, Vertica.Integration"
		           type="Vertica.Integration.Logging.Elmah.ExportErrorsStep, Vertica.Integration.Logging.Elmah">
      <parameters>
        <connectionStringName>Portal_TraceDb</connectionStringName>
        <sourceName>Website</sourceName>
      </parameters>
    </component>

    <component id="CleanUpElmahErrorsStep"
               service="Vertica.Integration.Model.IStep, Vertica.Integration"
               type="Vertica.Integration.Logging.Elmah.CleanUpErrorsStep, Vertica.Integration.Logging.Elmah">
      <parameters>
        <connectionStringName>Portal_TraceDb</connectionStringName>
        <olderThan>60.00:00:00</olderThan>
      </parameters>
    </component>
    <!--STEPS END-->
	</components>
</configuration>