<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="Dapper" version="1.50.2" targetFramework="net451" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net451" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="Vertica.Utilities_v4" version="4.0.68.0" targetFramework="net451" />
</packages>