<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vertica.Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Vertica.Integration.Properties.Settings>
            <setting name="DisableDatabaseLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsServiceUsername" serializeAs="String">
                <value>[TBD]</value>
            </setting>
            <setting name="WindowsServicePassword" serializeAs="String">
                <value>[TBD]</value>
            </setting>
            <setting name="WindowsServiceNamePrefix" serializeAs="String">
                <value>Integration Service</value>
            </setting>
            <setting name="EmailSubjectFormat" serializeAs="String">
                <value>Integration Service</value>
            </setting>
            <setting name="MonitorEmailRecipientsForService" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>bhk@vertica.dk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MonitorEmailRecipientsForBusiness" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>bhk@vertica.dk</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Vertica.Integration.Properties.Settings>
    </applicationSettings>
</configuration>